http://www.dataschool.io/best-python-pandas-resources/



http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# pd.set_option('max_columns',50)
%matplotlib inline

In [8]:
s = pd.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'])
print(s)
t =  pd.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'],
              index=['A','B','C','D','E'])
print(t)

0                7
1       Heisenberg
2             3.14
3      -1789710578
4    Happy Eating!
dtype: object
A                7
B       Heisenberg
C             3.14
D      -1789710578
E    Happy Eating!
dtype: object

In [9]:
d = {'Chicago': 1000, 'New York': 1300, 'Portland': 900, 'San Francisco': 1100,
     'Austin': 450, 'Boston': None}
cities = pd.Series(d)
cities

Austin            450.0
Boston              NaN
Chicago          1000.0
New York         1300.0
Portland          900.0
San Francisco    1100.0
dtype: float64